@import 'utils.module.scss';

@mixin mainBtn(){
    display: flex;
    width: 328px;
    padding: 16px 128px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    border: none;
    background: $main-blue;
    color: $main-beige;
    text-align: center;
    font-family: "Helvetica Neue";
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    &:hover {
        
    } 

}