@import './styles/_variables';

.toReg {
  display: block;
  text-align: center;
  padding: 0 auto;
  border-radius: 10px;
  padding: 16px 0;
  color: $color-title;
  background: $background-button;
  border: none;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}
