@import '../../../styles/_variables.scss';

.button {
  border-radius: 10px;
  padding: 16px 0;
  color: $color-title;
  background: $background-button;
  border: none;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  cursor: pointer;
}